@model Application.DTOs.CustomDTOs.DemandanteProfileDto;
@using Application.DTOs;
@using Application.Statics.Enums
@{
    ViewData["Title"] = $"Editar perfil - {Model.Nombre}";
    var nivelesEducativos = ViewBag.NivelesEducativos as List<NivelEducativoDto>;
    var nivelesEducativosSelect = nivelesEducativos?.Select(x => new SelectListItem
            {
                Text = x.Descripcion,
                Value = x.Id.ToString(),
                Selected = x.Id == (Model.NivelEducativo?.Id ?? 0)
            });
    var user = ViewBag.User as UsuarioDto;
}

@if (user is not null && user.TipoUsuarioId == TipoUsuario.DEMANDANTE)
{
    <div>
        <h3>Editar Información Básica de <strong>@(Model.Nombre)</strong></h3>
        <p><strong>Email:</strong> @Model.Email</p>

        <form method="post" asp-controller="Demandante" asp-action="Editar">
            <input type="hidden" name="UsuarioId" value="@Model.UsuarioId" />
            <div class="form-control">
                <label for="FechaNacimiento">Fecha de Nacimiento: </label>
                <input type="date" name="FechaNacimiento" class="form-control" required value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-control">
                <label for="Movil">Móvil:</label>
                <input type="tel" name="Movil" class="form-control" required placeholder="+57 9876543" value="@Model.Movil" />
            </div>
            <div class="form-control">
                <label for="NivelEducativoId">Nivel Educativo:</label>
                <select name="NivelEducativoId" asp-items="nivelesEducativosSelect" class="form-control" required>
                </select>
            </div>
            <div class="form-control">
                <label for="Perfil">Perfil:</label>
                <textarea name="Perfil" class="form-control" required placeholder="Descripción de perfil">
                    @Model.Perfil
                        </textarea>
            </div>
            <div class="form-control">
                <a href="@Url.Action("Profile", "Demandante", new { id = Model.UsuarioId })" class="btn btn-warning">Cancelar</a>
                <button type="submit" class="btn btn-primary">Actualizar Información</button>
            </div>
        </form>
    </div>
}
else
{
    <partial name="_LayoutForbidden" />
}






